h1 {font-size: 18pt;}
label
{
	width: 100px;
	text-align: right;
	display: inline-block;
	vertical-align: baseline
}

@media screen and (max-width: 480px) {
	label
	{
		width: 100px;
		text-align: right;
		display: flex;
		vertical-align : baseline;
	}
}
